@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background-primary: #f5f8fa;
  --color-background-secondary: #e1e8ed;
  --color-background-modal: #ffff;
  --color-card: #e1e8ed;
  --color-text-primary: #14171a;
  --color-text-secondary: #657786;
  --color-accent: #1da1f2;
  --color-fiol: #794bc4;
  --color-button: #17bf63;
  --color-like: #e0245e;
  --color-border: #aab8c2;
  --color-white: #fff;
  --color-black: #14171a;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1440px;

  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

.dark {
  --color-background-primary: #0d1117;
  --color-background-secondary: #161b22;
  --color-background-modal: #1b1f26;
  --color-card: #161b22;
  --color-text-primary: #c9d1d9;
  --color-text-secondary: #8b949e;
  --color-accent: #1da1f2;
  --color-fiol: #a66fff;
  --color-button: #17bf63;
  --color-like: #ff375f;
  --color-border: #30363d;
  --color-white: #14171a;
  --color-black: #fff;
}

html,
body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.3);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(90, 90, 90, 0.3) transparent;
}
